services:
  truefan:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: truefan
    restart: unless-stopped
    volumes:
      - /sys/class/hwmon:/sys/class/hwmon:ro
      # Replace /dev/sda with the target block device as needed.
      - /dev/sda:/dev/sda:ro
      - /etc/sensors3.conf:/etc/sensors3.conf:ro
    working_dir: /app
    ports:
      - "5002:5002"
    environment:
      - TZ=America/Chicago
